{
    "driver_config": {
        "url": "https://localhost:18080",
        "username": "admin",
        "password": "admin",
        "verify_ssl": false,
        "timeout": 30,
        "collect_string_values": false,
        
        "asset_property_map": {
            "system": [
                "System_reset",
                "General_enable",
                "System_minUtilityImportSetpoint",
                "System_operationMode",
                "System_maxSoCSetpoint",
                "System_frequency",
                "System_voltage",
                "System_activeLoad",
                "System_reactiveLoad"
            ],
            "bess": [
                "ESS_breakerStatus",
                "ESS_essTTL",
                "ESS_unitsActive",
                "ESS_totalCapacity"
            ],
            "pv1": null,
            "pv2": null
        }
    },
    "driver_type": "spirae_wave",
    "registry_config": "config://spirae_wave.csv",
    "interval": 60,
    "timezone": "US/Pacific",
    "heart_beat_point": "system/General_enable"
}