{
    "driver_type": "medtronic_db",
    "driver_config": {
        "site": "sitetest",
        "client": "clienttest",
        "db_driver": "sqlite",
        "db_server": "localhost",
        "db_port": "5432",
        "db_database": "test",
        "db_uid": "test",
        "db_pwd": "test"
    }
    "interval": 30,
    "timezone": "UTC",
    "heart_beat_point": "heartbeat"
}

